<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My Skills</title>
    <style>
        h1 {
            color: #8D006E; /* Warna judul My Skills */
        }
    </style>
</head>
<body>
    <h1>My Skills</h1>
    <ol>
        <li><a href="https://khailearn.blogspot.com/#about/">I have several skills such as Office, Editing, UI/UX Design.</a><br><br></li>
        <li><a href="https://youtu.be/E0Y6313KtHE?si=p4eph3Jhw1z3K4zh">Made Dessert<br><br></li>
        <li><a href="https://khai.bisdigcloud.com/">Experience creating websites with hostinger</li>
        <ol>

</body>
</html>